# 1. Pandemic Data

In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
from requests import get  
url="https://www.kaggle.com/ryanxjhan/coronaviruscovid19-canada/download"
file_name="./Data/coronaviruscovid19-canada.zip"

In [3]:
#Extract data from the downloaded zip file
# download(url,file_name)
import zipfile
with zipfile.ZipFile(file_name, 'r') as zip_ref:
    zip_ref.extractall("./Data/Canada coronavirus data")

In [4]:
#Define data path
cases_load="Data/Canada coronavirus data/cases.csv"
mortality_load="Data/Canada coronavirus data/mortality.csv"
recovered_load="Data/Canada coronavirus data/recovered.csv"
testing_load="Data/Canada coronavirus data/testing.csv"

In [5]:
#Load data
cases = pd.read_csv(cases_load)
mortality = pd.read_csv(mortality_load)
recovered = pd.read_csv(recovered_load)
testing = pd.read_csv(testing_load)

In [6]:
#Remove column 
cases1=cases[["case_id","provincial_case_id","age","sex","health_region","province","country","report_week","travel_yn","travel_history_country","locally_acquired"]]
mortality1=mortality[["death_id","province_death_id","case_id","age","sex","health_region","province", "country","date_death_report"]]
recovered1=recovered[["date_recovered", "province","cumulative_recovered","province_source"]]
testing1=testing[["date_testing","province","cumulative_testing","province_source"]]

recovered1

    date_recovered province  cumulative_recovered province_source
0       2020-04-03  Alberta                 196.0         Alberta
1       2020-04-02  Alberta                 174.0              BC
2       2020-04-01  Alberta                 142.0        Manitoba
3       2020-03-31  Alberta                 120.0   New Brunswick
4       2020-03-30  Alberta                  94.0              NL
..             ...      ...                   ...             ...
671     2020-02-16    Yukon                   NaN             NaN
672     2020-02-15    Yukon                   NaN             NaN
673     2020-02-14    Yukon                   NaN             NaN
674     2020-02-13    Yukon                   NaN             NaN
675     2020-02-12    Yukon                   NaN             NaN

[676 rows x 4 columns]

In [7]:
#Remove missing data and replace them in with appropriate values
cases1.locally_acquired=cases1[["locally_acquired"]].fillna("Not Reported")
cases1.travel_history_country=cases1[["travel_history_country"]].fillna("Not Reported")

mortality1.case_id=mortality1[["case_id"]].fillna("Not Reported")

recovered1.cumulative_recovered=recovered1[["cumulative_recovered"]].fillna(0)
recovered1.province_source=recovered1[["province_source"]].fillna("Not Reported")

testing1.cumulative_testing=testing1[["cumulative_testing"]].fillna(0)
testing1.province_source=testing1[["province_source"]].fillna("Not Reported")



#
cases1["locally_acquired"] = cases1["locally_acquired"].replace({"Close contact":"Close Contact","close contact":"Close Contact"})
cases1["age"] = cases1["age"].replace({"<1":"0-10","2":"0-10","<10":"0-10"})
cases1["age"] = cases1["age"].replace({"10-19":"11-30","20-29":"11-30"})
cases1["age"] = cases1["age"].replace({"30-39":"31-50","40-49":"31-50","50":"31-50"})
cases1["age"] = cases1["age"].replace({"50-59":"above 50","60-69":"above 50","61":"above 50","70-79":"above 50","80-89":"above 50","90-99":"above 50"})

cases1["sex"] = cases1["sex"].replace({"Female":"Females","Male":"Males"})
mortality1["sex"] = mortality1["sex"].replace({"Female":"Females","Male":"Males"})

cases1.age=cases1.age.astype(str)
cases1.sex=cases1.sex.astype(str)
cases1.health_region=cases1.health_region.astype(str)
cases1.country=cases1.country.astype(str)
cases1.travel_history_country=cases1.travel_history_country.astype(str)
cases1.locally_acquired=cases1.locally_acquired.astype(str)
print(cases1.dtypes)
cases1

case_id                    int64
provincial_case_id         int64
age                       object
sex                       object
health_region             object
province                  object
country                   object
report_week               object
travel_yn                 object
travel_history_country    object
locally_acquired          object
dtype: object

C:\Users\LKNT\anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
C:\Users\LKNT\anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\LKNT\anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\LKNT\anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\LKNT\anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\LKNT\anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\LKNT\anaconda3\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\LKNT\anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,case_id,provincial_case_id,age,sex,health_region,province,country,report_week,travel_yn,travel_history_country,locally_acquired
0,1,1,above 50,Males,Toronto,Ontario,Canada,2020-01-19,1,China,Not Reported
1,2,2,above 50,Females,Toronto,Ontario,Canada,2020-01-26,1,China,Not Reported
2,3,1,31-50,Males,Vancouver Coastal,BC,Canada,2020-01-26,1,China,Not Reported
3,4,3,11-30,Females,Middlesex-London,Ontario,Canada,2020-01-26,1,China,Not Reported
4,5,2,above 50,Females,Vancouver Coastal,BC,Canada,2020-02-02,0,Not Reported,Close Contact
...,...,...,...,...,...,...,...,...,...,...,...
12975,12976,3,Not Reported,Not Reported,NWT,NWT,Canada,2020-03-29,1,Not Reported,Not Reported
12976,12977,4,Not Reported,Not Reported,NWT,NWT,Canada,2020-03-29,0,Not Reported,Close Contact
12977,12978,3684,Not Reported,Not Reported,Thunder Bay,Ontario,Canada,2020-03-29,Not Reported,Not Reported,Not Reported
12978,12979,3685,Not Reported,Not Reported,Thunder Bay,Ontario,Canada,2020-03-29,Not Reported,Not Reported,Not Reported
12979,12980,3686,Not Reported,Not Reported,Thunder Bay,Ontario,Canada,2020-03-29,Not Reported,Not Reported,Not Reported

In [8]:
from datetime import datetime
#Add Month column to table
cases1.report_week=pd.to_datetime(cases1.report_week)
cases1['date']=["date"]*len(cases1.index) 
cases1
for index, row in cases1.iterrows():
    month=row['report_week'].month
    year=row['report_week'].year
    cases1.at[index, "date"]=datetime(year,month,1)
    cases1.at[index, "date"]=cases1.at[index, "date"].strftime('%Y-%m-%d')
    
mortality1.date_death_report=pd.to_datetime(mortality1.date_death_report)
mortality1['date']=["date"]*len(mortality1.index) 
for index, row in mortality1.iterrows():
    month=row['date_death_report'].month
    year=row['date_death_report'].year
    mortality1.at[index, "date"]=datetime(year,month,1)
    mortality1.at[index, "date"]=mortality1.at[index, "date"].strftime('%Y-%m-%d')
    
    
recovered1.date_recovered=pd.to_datetime(recovered1.date_recovered)
recovered1['date']=["date"]*len(recovered1.index) 
cases1
for index, row in recovered1.iterrows():
    month=row['date_recovered'].month
    year=row['date_recovered'].year
    recovered1.at[index, "date"]=datetime(year,month,1)
    recovered1.at[index, "date"]=recovered1.at[index, "date"].strftime('%Y-%m-%d')
    counting=recovered1.at[index,"cumulative_recovered"]
    recovered1.at[index,"cumulative_recovered"]=int(counting)

recovered1.cumulative_recovered=recovered1.cumulative_recovered.astype(int)

testing1.date_testing=pd.to_datetime(testing1.date_testing)
testing1['date']=["date"]*len(testing1.index) 
cases1
for index, row in testing1.iterrows():
    month=row['date_testing'].month
    year=row['date_testing'].year
    testing1.at[index, "date"]=datetime(year,month,1)
    testing1.at[index, "date"]=testing1.at[index, "date"].strftime('%Y-%m-%d')

C:\Users\LKNT\anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
C:\Users\LKNT\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\LKNT\anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [9]:
print(cases1)
print(mortality1)
print(recovered1)
print(testing1)
import numpy as np
np.unique([v for v in cases1.province])
recovered1

       case_id  provincial_case_id           age           sex  \
0            1                   1      above 50         Males
1            2                   2      above 50       Females
2            3                   1         31-50         Males
3            4                   3         11-30       Females
4            5                   2      above 50       Females
...        ...                 ...           ...           ...
12975    12976                   3  Not Reported  Not Reported
12976    12977                   4  Not Reported  Not Reported
12977    12978                3684  Not Reported  Not Reported
12978    12979                3685  Not Reported  Not Reported
12979    12980                3686  Not Reported  Not Reported

           health_region province country report_week     travel_yn  \
0                Toronto  Ontario  Canada  2020-01-19             1
1                Toronto  Ontario  Canada  2020-01-26             1
2      Vancouver Coastal       BC  Canada  2020-01-26             1
3       Middlesex-London  Ontario  Canada  2020-01-26             1
4      Vancouver Coastal       BC  Canada  2020-02-02             0
...                  ...      ...     ...         ...           ...
12975                NWT      NWT  Canada  2020-03-29             1
12976                NWT      NWT  Canada  2020-03-29             0
12977        Thunder Bay  Ontario  Canada  2020-03-29  Not Reported
12978        Thunder Bay  Ontario  Canada  2020-03-29  Not Reported
12979        Thunder Bay  Ontario  Canada  2020-03-29  Not Reported

      travel_history_country locally_acquired        date
0                      China     Not Reported  2020-01-01
1                      China     Not Reported  2020-01-01
2                      China     Not Reported  2020-01-01
3                      China     Not Reported  2020-01-01
4               Not Reported    Close Contact  2020-02-01
...                      ...              ...         ...
12975           Not Reported     Not Reported  2020-03-01
12976           Not Reported    Close Contact  2020-03-01
12977           Not Reported     Not Reported  2020-03-01
12978           Not Reported     Not Reported  2020-03-01
12979           Not Reported     Not Reported  2020-03-01

[12980 rows x 12 columns]
     death_id  province_death_id       case_id           age           sex  \
0           1                  1            60         80-89         Males
1           2                  1           477         70-79         Males
2           3                  2  Not Reported  Not Reported  Not Reported
3           4                  3  Not Reported  Not Reported  Not Reported
4           5                  4  Not Reported  Not Reported  Not Reported
..        ...                ...           ...           ...           ...
218       219                 15  Not Reported  Not Reported  Not Reported
219       220                 16  Not Reported  Not Reported  Not Reported
220       221                 17  Not Reported  Not Reported  Not Reported
221       222                 18  Not Reported         20-29       Females
222       223                  2  Not Reported  Not Reported  Not Reported

         health_region  province country date_death_report        date
0    Vancouver Coastal        BC  Canada        2020-03-08  2020-03-01
1       Simcoe Muskoka   Ontario  Canada        2020-03-11  2020-03-01
2    Vancouver Coastal        BC  Canada        2020-03-16  2020-03-01
3    Vancouver Coastal        BC  Canada        2020-03-16  2020-03-01
4    Vancouver Coastal        BC  Canada        2020-03-16  2020-03-01
..                 ...       ...     ...               ...         ...
218            Calgary   Alberta  Canada        2020-04-03  2020-04-01
219            Calgary   Alberta  Canada        2020-04-03  2020-04-01
220            Calgary   Alberta  Canada        2020-04-03  2020-04-01
221           Edmonton   Alberta  Canada        2020-04-03  2020-04-01
222       Not Reported  Manitoba  Canada        2020-04-03  2020-04-01

[223 rows x 10 columns]
    date_recovered province  cumulative_recovered province_source        date
0       2020-04-03  Alberta                   196         Alberta  2020-04-01
1       2020-04-02  Alberta                   174              BC  2020-04-01
2       2020-04-01  Alberta                   142        Manitoba  2020-04-01
3       2020-03-31  Alberta                   120   New Brunswick  2020-03-01
4       2020-03-30  Alberta                    94              NL  2020-03-01
..             ...      ...                   ...             ...         ...
671     2020-02-16    Yukon                     0    Not Reported  2020-02-01
672     2020-02-15    Yukon                     0    Not Reported  2020-02-01
673     2020-02-14    Yukon                     0    Not Reported  2020-02-01
674     2020-02-13    Yukon                     0    Not Reported  2020-02-01
675     2020-02-12    Yukon                     0    Not Reported  2020-02-01

[676 rows x 5 columns]
    date_testing province cumulative_testing province_source        date
0     2020-04-03  Alberta              61960         Alberta  2020-04-01
1     2020-04-02  Alberta              57096              BC  2020-04-01
2     2020-04-01  Alberta              53141        Manitoba  2020-04-01
3     2020-03-31  Alberta              48692   New Brunswick  2020-03-01
4     2020-03-30  Alberta              46057              NL  2020-03-01
..           ...      ...                ...             ...         ...
255   2020-03-19    Yukon                398    Not Reported  2020-03-01
256   2020-03-18    Yukon                101    Not Reported  2020-03-01
257   2020-03-17    Yukon                  0    Not Reported  2020-03-01
258   2020-03-16    Yukon                  0    Not Reported  2020-03-01
259   2020-03-15    Yukon                  0    Not Reported  2020-03-01

[260 rows x 5 columns]

    date_recovered province  cumulative_recovered province_source        date
0       2020-04-03  Alberta                   196         Alberta  2020-04-01
1       2020-04-02  Alberta                   174              BC  2020-04-01
2       2020-04-01  Alberta                   142        Manitoba  2020-04-01
3       2020-03-31  Alberta                   120   New Brunswick  2020-03-01
4       2020-03-30  Alberta                    94              NL  2020-03-01
..             ...      ...                   ...             ...         ...
671     2020-02-16    Yukon                     0    Not Reported  2020-02-01
672     2020-02-15    Yukon                     0    Not Reported  2020-02-01
673     2020-02-14    Yukon                     0    Not Reported  2020-02-01
674     2020-02-13    Yukon                     0    Not Reported  2020-02-01
675     2020-02-12    Yukon                     0    Not Reported  2020-02-01

[676 rows x 5 columns]

In [10]:
Alberta=cases1[cases1["province"]=="Alberta"]
BC=cases1[cases1["province"]=="BC"]
Manitoba=cases1[cases1["province"]=="Manitoba"]
NL=cases1[cases1["province"]=="NL"]
NWT=cases1[cases1["province"]=="NWT"]
New_Brunswick=cases1[cases1["province"]=="New Brunswick"]
Nova_Scotia=cases1[cases1["province"]=="Nova Scotia"]
PEI=cases1[cases1["province"]=="PEI"]
Quebec=cases1[cases1["province"]=="Quebec"]
Yukon=cases1[cases1["province"]=="Yukon"]
Repatriated=cases1[cases1["province"]=="Repatriated"]
testing1

    date_testing province cumulative_testing province_source        date
0     2020-04-03  Alberta              61960         Alberta  2020-04-01
1     2020-04-02  Alberta              57096              BC  2020-04-01
2     2020-04-01  Alberta              53141        Manitoba  2020-04-01
3     2020-03-31  Alberta              48692   New Brunswick  2020-03-01
4     2020-03-30  Alberta              46057              NL  2020-03-01
..           ...      ...                ...             ...         ...
255   2020-03-19    Yukon                398    Not Reported  2020-03-01
256   2020-03-18    Yukon                101    Not Reported  2020-03-01
257   2020-03-17    Yukon                  0    Not Reported  2020-03-01
258   2020-03-16    Yukon                  0    Not Reported  2020-03-01
259   2020-03-15    Yukon                  0    Not Reported  2020-03-01

[260 rows x 5 columns]

In [11]:
#Summarize cases table
cases11=cases1[["case_id","sex", "date"]]
cases_count=cases11.groupby(['sex',"date"]).count()
cases_count["date"]=[v[1] for v in cases_count.index]
cases_count["sex"]=[v[0] for v in cases_count.index]
cases_count=cases_count[["sex","date","case_id"]]
cases_count["category"]=["cases"]*len(cases_count.index)

cases_count.rename(columns={'case_id':'cases_count'}, inplace=True)

cases_count

                                  sex        date  cases_count category
sex          date
Females      2020-01-01       Females  2020-01-01            2    cases
             2020-02-01       Females  2020-02-01           10    cases
             2020-03-01       Females  2020-03-01          521    cases
Males        2020-01-01         Males  2020-01-01            2    cases
             2020-02-01         Males  2020-02-01            6    cases
             2020-03-01         Males  2020-03-01          503    cases
Not Reported 2020-03-01  Not Reported  2020-03-01        11936    cases

In [12]:
#Summarize mortality table
mortality11=mortality1[["case_id","sex", "date"]]
mortality_count=mortality11.groupby(["date","sex"]).count()
mortality_count["date"]=[v[0] for v in mortality_count.index]
mortality_count["sex"]=[v[1] for v in mortality_count.index]
mortality_count=mortality_count[["sex","date","case_id"]]
mortality_count["category"]=["mortality"]*len(mortality_count.index)

mortality_count.rename(columns={'case_id':'mortality_count'}, inplace=True)

mortality_count

                                  sex        date  mortality_count   category
date       sex
2020-03-01 Females            Females  2020-03-01               21  mortality
           Males                Males  2020-03-01               32  mortality
           Not Reported  Not Reported  2020-03-01               73  mortality
2020-04-01 Females            Females  2020-04-01                8  mortality
           Males                Males  2020-04-01               11  mortality
           Not Reported  Not Reported  2020-04-01               78  mortality

In [13]:
#Summarize recovered table
recovered11=recovered1[["date","province","cumulative_recovered"]]
recovered_count=recovered11.groupby(["province","date"]).last()
recovered_count["date"]=[v[1] for v in recovered_count.index]
recovered_count["province"]=[v[0] for v in recovered_count.index]
recovered_count=recovered_count[["province","date","cumulative_recovered"]]

recovered_count["category"]=["recovered"]*len(recovered_count.index)

recovered_count

                               province        date  cumulative_recovered  \
province      date
Alberta       2020-02-01        Alberta  2020-02-01                     0
              2020-03-01        Alberta  2020-03-01                     0
              2020-04-01        Alberta  2020-04-01                   142
BC            2020-02-01             BC  2020-02-01                     0
              2020-03-01             BC  2020-03-01                     4
              2020-04-01             BC  2020-04-01                   606
Manitoba      2020-02-01       Manitoba  2020-02-01                     0
              2020-03-01       Manitoba  2020-03-01                     0
              2020-04-01       Manitoba  2020-04-01                     4
NL            2020-02-01             NL  2020-02-01                     0
              2020-03-01             NL  2020-03-01                     0
              2020-04-01             NL  2020-04-01                    10
NWT           2020-02-01            NWT  2020-02-01                     0
              2020-03-01            NWT  2020-03-01                     0
              2020-04-01            NWT  2020-04-01                     0
New Brunswick 2020-02-01  New Brunswick  2020-02-01                     0
              2020-03-01  New Brunswick  2020-03-01                     0
              2020-04-01  New Brunswick  2020-04-01                    14
Nova Scotia   2020-02-01    Nova Scotia  2020-02-01                     0
              2020-03-01    Nova Scotia  2020-03-01                     0
              2020-04-01    Nova Scotia  2020-04-01                    11
Nunavut       2020-02-01        Nunavut  2020-02-01                     0
              2020-03-01        Nunavut  2020-03-01                     0
              2020-04-01        Nunavut  2020-04-01                     0
Ontario       2020-02-01        Ontario  2020-02-01                     1
              2020-03-01        Ontario  2020-03-01                     3
              2020-04-01        Ontario  2020-04-01                   689
PEI           2020-02-01            PEI  2020-02-01                     0
              2020-03-01            PEI  2020-03-01                     0
              2020-04-01            PEI  2020-04-01                     3
Quebec        2020-02-01         Quebec  2020-02-01                     0
              2020-03-01         Quebec  2020-03-01                     0
              2020-04-01         Quebec  2020-04-01                   155
Saskatchewan  2020-02-01   Saskatchewan  2020-02-01                     0
              2020-03-01   Saskatchewan  2020-03-01                     0
              2020-04-01   Saskatchewan  2020-04-01                    30
Yukon         2020-02-01          Yukon  2020-02-01                     0
              2020-03-01          Yukon  2020-03-01                     0
              2020-04-01          Yukon  2020-04-01                     3

                           category
province      date
Alberta       2020-02-01  recovered
              2020-03-01  recovered
              2020-04-01  recovered
BC            2020-02-01  recovered
              2020-03-01  recovered
              2020-04-01  recovered
Manitoba      2020-02-01  recovered
              2020-03-01  recovered
              2020-04-01  recovered
NL            2020-02-01  recovered
              2020-03-01  recovered
              2020-04-01  recovered
NWT           2020-02-01  recovered
              2020-03-01  recovered
              2020-04-01  recovered
New Brunswick 2020-02-01  recovered
              2020-03-01  recovered
              2020-04-01  recovered
Nova Scotia   2020-02-01  recovered
              2020-03-01  recovered
              2020-04-01  recovered
Nunavut       2020-02-01  recovered
              2020-03-01  recovered
              2020-04-01  recovered
Ontario       2020-02-01  recovered
              2020-03-01  recovered
              2020-04-01  recovered
PEI           2020-02-01  recovered
              2020-03-01  recovered
              2020-04-01  recovered
Quebec        2020-02-01  recovered
              2020-03-01  recovered
              2020-04-01  recovered
Saskatchewan  2020-02-01  recovered
              2020-03-01  recovered
              2020-04-01  recovered
Yukon         2020-02-01  recovered
              2020-03-01  recovered
              2020-04-01  recovered

In [14]:
#Summarize testing table 
testing11=testing1[["date","province","cumulative_testing"]]
testing_count=testing11.groupby(["province","date"]).last()
testing_count["date"]=[v[1] for v in testing_count.index]
testing_count["province"]=[v[0] for v in testing_count.index]
testing_count=testing_count[["province","date","cumulative_testing"]]
testing_count["category"]=["testing"]*len(testing_count.index)
testing_count

                               province        date cumulative_testing  \
province      date
Alberta       2020-03-01        Alberta  2020-03-01               7108
              2020-04-01        Alberta  2020-04-01              53141
BC            2020-03-01             BC  2020-03-01               6326
              2020-04-01             BC  2020-04-01              44639
Manitoba      2020-03-01       Manitoba  2020-03-01                400
              2020-04-01       Manitoba  2020-04-01              10044
NL            2020-03-01             NL  2020-03-01                161
              2020-04-01             NL  2020-04-01               2816
NWT           2020-03-01            NWT  2020-03-01                  0
              2020-04-01            NWT  2020-04-01               1109
New Brunswick 2020-03-01  New Brunswick  2020-03-01                  0
              2020-04-01  New Brunswick  2020-04-01               4030
Nova Scotia   2020-03-01    Nova Scotia  2020-03-01                418
              2020-04-01    Nova Scotia  2020-04-01               6764
Nunavut       2020-03-01        Nunavut  2020-03-01                  0
              2020-04-01        Nunavut  2020-04-01                290
Ontario       2020-03-01        Ontario  2020-03-01               8465
              2020-04-01        Ontario  2020-04-01              57874
PEI           2020-03-01            PEI  2020-03-01                 78
              2020-04-01            PEI  2020-04-01                870
Quebec        2020-03-01         Quebec  2020-03-01                  0
              2020-04-01         Quebec  2020-04-01              75463
Saskatchewan  2020-03-01   Saskatchewan  2020-03-01                796
              2020-04-01   Saskatchewan  2020-04-01              10528
Yukon         2020-03-01          Yukon  2020-03-01                  0
              2020-04-01          Yukon  2020-04-01                722

                         category
province      date
Alberta       2020-03-01  testing
              2020-04-01  testing
BC            2020-03-01  testing
              2020-04-01  testing
Manitoba      2020-03-01  testing
              2020-04-01  testing
NL            2020-03-01  testing
              2020-04-01  testing
NWT           2020-03-01  testing
              2020-04-01  testing
New Brunswick 2020-03-01  testing
              2020-04-01  testing
Nova Scotia   2020-03-01  testing
              2020-04-01  testing
Nunavut       2020-03-01  testing
              2020-04-01  testing
Ontario       2020-03-01  testing
              2020-04-01  testing
PEI           2020-03-01  testing
              2020-04-01  testing
Quebec        2020-03-01  testing
              2020-04-01  testing
Saskatchewan  2020-03-01  testing
              2020-04-01  testing
Yukon         2020-03-01  testing
              2020-04-01  testing

In [15]:
cases_count.to_csv("./Data/Cleaned Data/cases_count.csv",
                   index=False,
                   header=True
                  )

mortality_count.to_csv("./Data/Cleaned Data/mortality_count.csv",
                   index=False,
                   header=True
                  )

recovered_count.to_csv("./Data/Cleaned Data/recovered_count.csv",
                   index=False,
                   header=True
                  )

testing_count.to_csv("./Data/Cleaned Data/testing_count.csv",
                   index=False,
                   header=True
                  )

# 2. Unemployment Data

In [16]:
import pandas as pd

In [17]:
from requests import get  # to make GET request

url = 'https://www150.statcan.gc.ca/n1/en/tbl/csv/14100017-eng.zip?st=9vcqm52I'
file_name = './001_COVID_19_UNEMPLOYMENT/Unemployment_Rate_ZIP.zip'


def download(url, file_name):
    # open in binary mode
    with open(file_name, "wb") as file:
        # get request
        response = get(url)
        # write to file
        file.write(response.content)


download(url, file_name)

In [18]:
import zipfile
with zipfile.ZipFile(file_name, 'r') as zip_ref:
    zip_ref.extractall('./001_COVID_19_UNEMPLOYMENT')

In [19]:
path = './001_COVID_19_UNEMPLOYMENT/14100017.csv'
DOWNLOADED_FILE_df = pd.read_csv(path)

In [20]:
DOWNLOADED_FILE_df.head()

,REF_DATE,GEO,DGUID,Labour force characteristics,Sex,Age group,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1976-01,Canada,2016A000011124,Population,Both sexes,15 years and over,Persons,249,thousands,3,v2091030,1.1.1.1,16852.4,NaN,NaN,NaN,1
1,1976-01,Canada,2016A000011124,Population,Both sexes,15 to 24 years,Persons,249,thousands,3,v2091031,1.1.1.2,4509.9,NaN,NaN,NaN,1
2,1976-01,Canada,2016A000011124,Population,Both sexes,25 years and over,Persons,249,thousands,3,v2091032,1.1.1.3,12342.5,NaN,NaN,NaN,1
3,1976-01,Canada,2016A000011124,Population,Both sexes,25 to 44 years,Persons,249,thousands,3,v2091033,1.1.1.4,6162.4,NaN,NaN,NaN,1
4,1976-01,Canada,2016A000011124,Population,Both sexes,45 to 64 years,Persons,249,thousands,3,v19650582,1.1.1.22,4343.6,NaN,NaN,NaN,1

In [21]:
DOWNLOADED_FILE_df.dtypes

REF_DATE                         object
GEO                              object
DGUID                            object
Labour force characteristics     object
Sex                              object
Age group                        object
UOM                              object
UOM_ID                            int64
SCALAR_FACTOR                    object
SCALAR_ID                         int64
VECTOR                           object
COORDINATE                       object
VALUE                           float64
STATUS                           object
SYMBOL                          float64
TERMINATED                      float64
DECIMALS                          int64
dtype: object

In [22]:
DOWNLOADED_FILE_df["REF_DATE"].unique()

array(['1976-01', '1976-02', '1976-03', '1976-04', '1976-05', '1976-06',
       '1976-07', '1976-08', '1976-09', '1976-10', '1976-11', '1976-12',
       '1977-01', '1977-02', '1977-03', '1977-04', '1977-05', '1977-06',
       '1977-07', '1977-08', '1977-09', '1977-10', '1977-11', '1977-12',
       '1978-01', '1978-02', '1978-03', '1978-04', '1978-05', '1978-06',
       '1978-07', '1978-08', '1978-09', '1978-10', '1978-11', '1978-12',
       '1979-01', '1979-02', '1979-03', '1979-04', '1979-05', '1979-06',
       '1979-07', '1979-08', '1979-09', '1979-10', '1979-11', '1979-12',
       '1980-01', '1980-02', '1980-03', '1980-04', '1980-05', '1980-06',
       '1980-07', '1980-08', '1980-09', '1980-10', '1980-11', '1980-12',
       '1981-01', '1981-02', '1981-03', '1981-04', '1981-05', '1981-06',
       '1981-07', '1981-08', '1981-09', '1981-10', '1981-11', '1981-12',
       '1982-01', '1982-02', '1982-03', '1982-04', '1982-05', '1982-06',
       '1982-07', '1982-08', '1982-09', '1982-10', '1982-11', '1982-12',
       '1983-01', '1983-02', '1983-03', '1983-04', '1983-05', '1983-06',
       '1983-07', '1983-08', '1983-09', '1983-10', '1983-11', '1983-12',
       '1984-01', '1984-02', '1984-03', '1984-04', '1984-05', '1984-06',
       '1984-07', '1984-08', '1984-09', '1984-10', '1984-11', '1984-12',
       '1985-01', '1985-02', '1985-03', '1985-04', '1985-05', '1985-06',
       '1985-07', '1985-08', '1985-09', '1985-10', '1985-11', '1985-12',
       '1986-01', '1986-02', '1986-03', '1986-04', '1986-05', '1986-06',
       '1986-07', '1986-08', '1986-09', '1986-10', '1986-11', '1986-12',
       '1987-01', '1987-02', '1987-03', '1987-04', '1987-05', '1987-06',
       '1987-07', '1987-08', '1987-09', '1987-10', '1987-11', '1987-12',
       '1988-01', '1988-02', '1988-03', '1988-04', '1988-05', '1988-06',
       '1988-07', '1988-08', '1988-09', '1988-10', '1988-11', '1988-12',
       '1989-01', '1989-02', '1989-03', '1989-04', '1989-05', '1989-06',
       '1989-07', '1989-08', '1989-09', '1989-10', '1989-11', '1989-12',
       '1990-01', '1990-02', '1990-03', '1990-04', '1990-05', '1990-06',
       '1990-07', '1990-08', '1990-09', '1990-10', '1990-11', '1990-12',
       '1991-01', '1991-02', '1991-03', '1991-04', '1991-05', '1991-06',
       '1991-07', '1991-08', '1991-09', '1991-10', '1991-11', '1991-12',
       '1992-01', '1992-02', '1992-03', '1992-04', '1992-05', '1992-06',
       '1992-07', '1992-08', '1992-09', '1992-10', '1992-11', '1992-12',
       '1993-01', '1993-02', '1993-03', '1993-04', '1993-05', '1993-06',
       '1993-07', '1993-08', '1993-09', '1993-10', '1993-11', '1993-12',
       '1994-01', '1994-02', '1994-03', '1994-04', '1994-05', '1994-06',
       '1994-07', '1994-08', '1994-09', '1994-10', '1994-11', '1994-12',
       '1995-01', '1995-02', '1995-03', '1995-04', '1995-05', '1995-06',
       '1995-07', '1995-08', '1995-09', '1995-10', '1995-11', '1995-12',
       '1996-01', '1996-02', '1996-03', '1996-04', '1996-05', '1996-06',
       '1996-07', '1996-08', '1996-09', '1996-10', '1996-11', '1996-12',
       '1997-01', '1997-02', '1997-03', '1997-04', '1997-05', '1997-06',
       '1997-07', '1997-08', '1997-09', '1997-10', '1997-11', '1997-12',
       '1998-01', '1998-02', '1998-03', '1998-04', '1998-05', '1998-06',
       '1998-07', '1998-08', '1998-09', '1998-10', '1998-11', '1998-12',
       '1999-01', '1999-02', '1999-03', '1999-04', '1999-05', '1999-06',
       '1999-07', '1999-08', '1999-09', '1999-10', '1999-11', '1999-12',
       '2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06',
       '2000-07', '2000-08', '2000-09', '2000-10', '2000-11', '2000-12',
       '2001-01', '2001-02', '2001-03', '2001-04', '2001-05', '2001-06',
       '2001-07', '2001-08', '2001-09', '2001-10', '2001-11', '2001-12',
       '2002-01', '2002-02', '2002-03', '2002-04', '2002-05', '2002-06',
       '2002-07', '2002-08', '2002-09', '2002-10', '2002-11', '2002-12',
       '2003-01', '2003-02', '2003-03', '2003-04', '2003-05', '2003-06',
       '2003-07', '2003-08', '2003-09', '2003-10', '2003-11', '2003-12',
       '2004-01', '2004-02', '2004-03', '2004-04', '2004-05', '2004-06',
       '2004-07', '2004-08', '2004-09', '2004-10', '2004-11', '2004-12',
       '2005-01', '2005-02', '2005-03', '2005-04', '2005-05', '2005-06',
       '2005-07', '2005-08', '2005-09', '2005-10', '2005-11', '2005-12',
       '2006-01', '2006-02', '2006-03', '2006-04', '2006-05', '2006-06',
       '2006-07', '2006-08', '2006-09', '2006-10', '2006-11', '2006-12',
       '2007-01', '2007-02', '2007-03', '2007-04', '2007-05', '2007-06',
       '2007-07', '2007-08', '2007-09', '2007-10', '2007-11', '2007-12',
       '2008-01', '2008-02', '2008-03', '2008-04', '2008-05', '2008-06',
       '2008-07', '2008-08', '2008-09', '2008-10', '2008-11', '2008-12',
       '2009-01', '2009-02', '2009-03', '2009-04', '2009-05', '2009-06',
       '2009-07', '2009-08', '2009-09', '2009-10', '2009-11', '2009-12',
       '2010-01', '2010-02', '2010-03', '2010-04', '2010-05', '2010-06',
       '2010-07', '2010-08', '2010-09', '2010-10', '2010-11', '2010-12',
       '2011-01', '2011-02', '2011-03', '2011-04', '2011-05', '2011-06',
       '2011-07', '2011-08', '2011-09', '2011-10', '2011-11', '2011-12',
       '2012-01', '2012-02', '2012-03', '2012-04', '2012-05', '2012-06',
       '2012-07', '2012-08', '2012-09', '2012-10', '2012-11', '2012-12',
       '2013-01', '2013-02', '2013-03', '2013-04', '2013-05', '2013-06',
       '2013-07', '2013-08', '2013-09', '2013-10', '2013-11', '2013-12',
       '2014-01', '2014-02', '2014-03', '2014-04', '2014-05', '2014-06',
       '2014-07', '2014-08', '2014-09', '2014-10', '2014-11', '2014-12',
       '2015-01', '2015-02', '2015-03', '2015-04', '2015-05', '2015-06',
       '2015-07', '2015-08', '2015-09', '2015-10', '2015-11', '2015-12',
       '2016-01', '2016-02', '2016-03', '2016-04', '2016-05', '2016-06',
       '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12',
       '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06',
       '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12',
       '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06',
       '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12',
       '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06',
       '2019-07', '2019-08', '2019-09', '2019-10', '2019-11', '2019-12',
       '2020-01', '2020-02', '2020-03'], dtype=object)

In [23]:
DOWNLOADED_FILE_df.columns

Index(['REF_DATE', 'GEO', 'DGUID', 'Labour force characteristics', 'Sex',
       'Age group', 'UOM', 'UOM_ID', 'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR',
       'COORDINATE', 'VALUE', 'STATUS', 'SYMBOL', 'TERMINATED', 'DECIMALS'],
      dtype='object')

In [24]:
UNEMPLOYMENT_df = DOWNLOADED_FILE_df[['Sex', 'Age group', 'VALUE', 'REF_DATE', 'UOM']]
UNEMPLOYMENT_df.head()

          Sex          Age group    VALUE REF_DATE      UOM
0  Both sexes  15 years and over  16852.4  1976-01  Persons
1  Both sexes     15 to 24 years   4509.9  1976-01  Persons
2  Both sexes  25 years and over  12342.5  1976-01  Persons
3  Both sexes     25 to 44 years   6162.4  1976-01  Persons
4  Both sexes     45 to 64 years   4343.6  1976-01  Persons

In [25]:
UNEMPLOYMENT_df["REF_DATE"] = UNEMPLOYMENT_df["REF_DATE"]+"-01"
UNEMPLOYMENT_df.head()

C:\Users\LKNT\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

          Sex          Age group    VALUE    REF_DATE      UOM
0  Both sexes  15 years and over  16852.4  1976-01-01  Persons
1  Both sexes     15 to 24 years   4509.9  1976-01-01  Persons
2  Both sexes  25 years and over  12342.5  1976-01-01  Persons
3  Both sexes     25 to 44 years   6162.4  1976-01-01  Persons
4  Both sexes     45 to 64 years   4343.6  1976-01-01  Persons

In [26]:
UNEMPLOYMENT_df["REF_DATE"].unique()

array(['1976-01-01', '1976-02-01', '1976-03-01', '1976-04-01',
       '1976-05-01', '1976-06-01', '1976-07-01', '1976-08-01',
       '1976-09-01', '1976-10-01', '1976-11-01', '1976-12-01',
       '1977-01-01', '1977-02-01', '1977-03-01', '1977-04-01',
       '1977-05-01', '1977-06-01', '1977-07-01', '1977-08-01',
       '1977-09-01', '1977-10-01', '1977-11-01', '1977-12-01',
       '1978-01-01', '1978-02-01', '1978-03-01', '1978-04-01',
       '1978-05-01', '1978-06-01', '1978-07-01', '1978-08-01',
       '1978-09-01', '1978-10-01', '1978-11-01', '1978-12-01',
       '1979-01-01', '1979-02-01', '1979-03-01', '1979-04-01',
       '1979-05-01', '1979-06-01', '1979-07-01', '1979-08-01',
       '1979-09-01', '1979-10-01', '1979-11-01', '1979-12-01',
       '1980-01-01', '1980-02-01', '1980-03-01', '1980-04-01',
       '1980-05-01', '1980-06-01', '1980-07-01', '1980-08-01',
       '1980-09-01', '1980-10-01', '1980-11-01', '1980-12-01',
       '1981-01-01', '1981-02-01', '1981-03-01', '1981-04-01',
       '1981-05-01', '1981-06-01', '1981-07-01', '1981-08-01',
       '1981-09-01', '1981-10-01', '1981-11-01', '1981-12-01',
       '1982-01-01', '1982-02-01', '1982-03-01', '1982-04-01',
       '1982-05-01', '1982-06-01', '1982-07-01', '1982-08-01',
       '1982-09-01', '1982-10-01', '1982-11-01', '1982-12-01',
       '1983-01-01', '1983-02-01', '1983-03-01', '1983-04-01',
       '1983-05-01', '1983-06-01', '1983-07-01', '1983-08-01',
       '1983-09-01', '1983-10-01', '1983-11-01', '1983-12-01',
       '1984-01-01', '1984-02-01', '1984-03-01', '1984-04-01',
       '1984-05-01', '1984-06-01', '1984-07-01', '1984-08-01',
       '1984-09-01', '1984-10-01', '1984-11-01', '1984-12-01',
       '1985-01-01', '1985-02-01', '1985-03-01', '1985-04-01',
       '1985-05-01', '1985-06-01', '1985-07-01', '1985-08-01',
       '1985-09-01', '1985-10-01', '1985-11-01', '1985-12-01',
       '1986-01-01', '1986-02-01', '1986-03-01', '1986-04-01',
       '1986-05-01', '1986-06-01', '1986-07-01', '1986-08-01',
       '1986-09-01', '1986-10-01', '1986-11-01', '1986-12-01',
       '1987-01-01', '1987-02-01', '1987-03-01', '1987-04-01',
       '1987-05-01', '1987-06-01', '1987-07-01', '1987-08-01',
       '1987-09-01', '1987-10-01', '1987-11-01', '1987-12-01',
       '1988-01-01', '1988-02-01', '1988-03-01', '1988-04-01',
       '1988-05-01', '1988-06-01', '1988-07-01', '1988-08-01',
       '1988-09-01', '1988-10-01', '1988-11-01', '1988-12-01',
       '1989-01-01', '1989-02-01', '1989-03-01', '1989-04-01',
       '1989-05-01', '1989-06-01', '1989-07-01', '1989-08-01',
       '1989-09-01', '1989-10-01', '1989-11-01', '1989-12-01',
       '1990-01-01', '1990-02-01', '1990-03-01', '1990-04-01',
       '1990-05-01', '1990-06-01', '1990-07-01', '1990-08-01',
       '1990-09-01', '1990-10-01', '1990-11-01', '1990-12-01',
       '1991-01-01', '1991-02-01', '1991-03-01', '1991-04-01',
       '1991-05-01', '1991-06-01', '1991-07-01', '1991-08-01',
       '1991-09-01', '1991-10-01', '1991-11-01', '1991-12-01',
       '1992-01-01', '1992-02-01', '1992-03-01', '1992-04-01',
       '1992-05-01', '1992-06-01', '1992-07-01', '1992-08-01',
       '1992-09-01', '1992-10-01', '1992-11-01', '1992-12-01',
       '1993-01-01', '1993-02-01', '1993-03-01', '1993-04-01',
       '1993-05-01', '1993-06-01', '1993-07-01', '1993-08-01',
       '1993-09-01', '1993-10-01', '1993-11-01', '1993-12-01',
       '1994-01-01', '1994-02-01', '1994-03-01', '1994-04-01',
       '1994-05-01', '1994-06-01', '1994-07-01', '1994-08-01',
       '1994-09-01', '1994-10-01', '1994-11-01', '1994-12-01',
       '1995-01-01', '1995-02-01', '1995-03-01', '1995-04-01',
       '1995-05-01', '1995-06-01', '1995-07-01', '1995-08-01',
       '1995-09-01', '1995-10-01', '1995-11-01', '1995-12-01',
       '1996-01-01', '1996-02-01', '1996-03-01', '1996-04-01',
       '1996-05-01', '1996-06-01', '1996-07-01', '1996-08-01',
       '1996-09-01', '1996-10-01', '1996-11-01', '1996-12-01',
       '1997-01-01', '1997-02-01', '1997-03-01', '1997-04-01',
       '1997-05-01', '1997-06-01', '1997-07-01', '1997-08-01',
       '1997-09-01', '1997-10-01', '1997-11-01', '1997-12-01',
       '1998-01-01', '1998-02-01', '1998-03-01', '1998-04-01',
       '1998-05-01', '1998-06-01', '1998-07-01', '1998-08-01',
       '1998-09-01', '1998-10-01', '1998-11-01', '1998-12-01',
       '1999-01-01', '1999-02-01', '1999-03-01', '1999-04-01',
       '1999-05-01', '1999-06-01', '1999-07-01', '1999-08-01',
       '1999-09-01', '1999-10-01', '1999-11-01', '1999-12-01',
       '2000-01-01', '2000-02-01', '2000-03-01', '2000-04-01',
       '2000-05-01', '2000-06-01', '2000-07-01', '2000-08-01',
       '2000-09-01', '2000-10-01', '2000-11-01', '2000-12-01',
       '2001-01-01', '2001-02-01', '2001-03-01', '2001-04-01',
       '2001-05-01', '2001-06-01', '2001-07-01', '2001-08-01',
       '2001-09-01', '2001-10-01', '2001-11-01', '2001-12-01',
       '2002-01-01', '2002-02-01', '2002-03-01', '2002-04-01',
       '2002-05-01', '2002-06-01', '2002-07-01', '2002-08-01',
       '2002-09-01', '2002-10-01', '2002-11-01', '2002-12-01',
       '2003-01-01', '2003-02-01', '2003-03-01', '2003-04-01',
       '2003-05-01', '2003-06-01', '2003-07-01', '2003-08-01',
       '2003-09-01', '2003-10-01', '2003-11-01', '2003-12-01',
       '2004-01-01', '2004-02-01', '2004-03-01', '2004-04-01',
       '2004-05-01', '2004-06-01', '2004-07-01', '2004-08-01',
       '2004-09-01', '2004-10-01', '2004-11-01', '2004-12-01',
       '2005-01-01', '2005-02-01', '2005-03-01', '2005-04-01',
       '2005-05-01', '2005-06-01', '2005-07-01', '2005-08-01',
       '2005-09-01', '2005-10-01', '2005-11-01', '2005-12-01',
       '2006-01-01', '2006-02-01', '2006-03-01', '2006-04-01',
       '2006-05-01', '2006-06-01', '2006-07-01', '2006-08-01',
       '2006-09-01', '2006-10-01', '2006-11-01', '2006-12-01',
       '2007-01-01', '2007-02-01', '2007-03-01', '2007-04-01',
       '2007-05-01', '2007-06-01', '2007-07-01', '2007-08-01',
       '2007-09-01', '2007-10-01', '2007-11-01', '2007-12-01',
       '2008-01-01', '2008-02-01', '2008-03-01', '2008-04-01',
       '2008-05-01', '2008-06-01', '2008-07-01', '2008-08-01',
       '2008-09-01', '2008-10-01', '2008-11-01', '2008-12-01',
       '2009-01-01', '2009-02-01', '2009-03-01', '2009-04-01',
       '2009-05-01', '2009-06-01', '2009-07-01', '2009-08-01',
       '2009-09-01', '2009-10-01', '2009-11-01', '2009-12-01',
       '2010-01-01', '2010-02-01', '2010-03-01', '2010-04-01',
       '2010-05-01', '2010-06-01', '2010-07-01', '2010-08-01',
       '2010-09-01', '2010-10-01', '2010-11-01', '2010-12-01',
       '2011-01-01', '2011-02-01', '2011-03-01', '2011-04-01',
       '2011-05-01', '2011-06-01', '2011-07-01', '2011-08-01',
       '2011-09-01', '2011-10-01', '2011-11-01', '2011-12-01',
       '2012-01-01', '2012-02-01', '2012-03-01', '2012-04-01',
       '2012-05-01', '2012-06-01', '2012-07-01', '2012-08-01',
       '2012-09-01', '2012-10-01', '2012-11-01', '2012-12-01',
       '2013-01-01', '2013-02-01', '2013-03-01', '2013-04-01',
       '2013-05-01', '2013-06-01', '2013-07-01', '2013-08-01',
       '2013-09-01', '2013-10-01', '2013-11-01', '2013-12-01',
       '2014-01-01', '2014-02-01', '2014-03-01', '2014-04-01',
       '2014-05-01', '2014-06-01', '2014-07-01', '2014-08-01',
       '2014-09-01', '2014-10-01', '2014-11-01', '2014-12-01',
       '2015-01-01', '2015-02-01', '2015-03-01', '2015-04-01',
       '2015-05-01', '2015-06-01', '2015-07-01', '2015-08-01',
       '2015-09-01', '2015-10-01', '2015-11-01', '2015-12-01',
       '2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
       '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
       '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01',
       '2017-01-01', '2017-02-01', '2017-03-01', '2017-04-01',
       '2017-05-01', '2017-06-01', '2017-07-01', '2017-08-01',
       '2017-09-01', '2017-10-01', '2017-11-01', '2017-12-01',
       '2018-01-01', '2018-02-01', '2018-03-01', '2018-04-01',
       '2018-05-01', '2018-06-01', '2018-07-01', '2018-08-01',
       '2018-09-01', '2018-10-01', '2018-11-01', '2018-12-01',
       '2019-01-01', '2019-02-01', '2019-03-01', '2019-04-01',
       '2019-05-01', '2019-06-01', '2019-07-01', '2019-08-01',
       '2019-09-01', '2019-10-01', '2019-11-01', '2019-12-01',
       '2020-01-01', '2020-02-01', '2020-03-01'], dtype=object)

In [27]:
UNEMPLOYMENT_df2 = UNEMPLOYMENT_df.loc[(UNEMPLOYMENT_df["REF_DATE"] == '2019-11-01')| 
                                       (UNEMPLOYMENT_df["REF_DATE"] == '2019-12-01')|
                                       (UNEMPLOYMENT_df["REF_DATE"] == '2020-01-01')|
                                       (UNEMPLOYMENT_df["REF_DATE"] == '2020-02-01')|
                                       (UNEMPLOYMENT_df["REF_DATE"] == '2020-03-01'), :]

In [28]:
UNEMPLOYMENT_df2["REF_DATE"].unique()

array(['2019-11-01', '2019-12-01', '2020-01-01', '2020-02-01',
       '2020-03-01'], dtype=object)

In [29]:
len(UNEMPLOYMENT_df2)

36300

In [30]:
UNEMPLOYMENT_df2.head()

                Sex          Age group    VALUE    REF_DATE      UOM
3818760  Both sexes  15 years and over  30932.8  2019-11-01  Persons
3818761  Both sexes     15 to 24 years   4396.5  2019-11-01  Persons
3818762  Both sexes  25 years and over  26536.4  2019-11-01  Persons
3818763  Both sexes     25 to 44 years  10193.4  2019-11-01  Persons
3818764  Both sexes     45 to 64 years   9888.0  2019-11-01  Persons

In [31]:
UNEMPLOYMENT_df3 = UNEMPLOYMENT_df2.dropna()

In [32]:
len(UNEMPLOYMENT_df3)

35882

In [33]:
UNEMPLOYMENT_df3

                Sex          Age group    VALUE    REF_DATE         UOM
3818760  Both sexes  15 years and over  30932.8  2019-11-01     Persons
3818761  Both sexes     15 to 24 years   4396.5  2019-11-01     Persons
3818762  Both sexes  25 years and over  26536.4  2019-11-01     Persons
3818763  Both sexes     25 to 44 years  10193.4  2019-11-01     Persons
3818764  Both sexes     45 to 64 years   9888.0  2019-11-01     Persons
...             ...                ...      ...         ...         ...
3855055     Females     55 to 59 years     64.3  2020-03-01  Percentage
3855056     Females     60 to 64 years     44.5  2020-03-01  Percentage
3855057     Females  65 years and over     11.2  2020-03-01  Percentage
3855058     Females     65 to 69 years     21.9  2020-03-01  Percentage
3855059     Females  70 years and over      6.3  2020-03-01  Percentage

[35882 rows x 5 columns]

In [34]:
# Export to CSV
UNEMPLOYMENT_df2.to_csv("./001_COVID_19_UNEMPLOYMENT/UNEMPLOYMENT_df3.csv",
                   index=True, 
                   header=True
                  )

print('****************')
print('Complete !!!!')
print('****************')

****************
Complete !!!!
****************